In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [5]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] #добавляем столбец 'profit' как разницу между столбцом 'revenue' и столбцом 'budget'
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
146,tt1528100,140000000,268031828,Exodus: Gods and Kings,Christian Bale|Joel Edgerton|John Turturro|Aar...,Ridley Scott,"Once brothers, now enemies.",The defiant leader Moses rises up against the ...,153,Adventure|Drama|Action,Scott Free Productions|Chernin Entertainment|B...,12/3/2014,5.6,2014,128031828
1409,tt0387131,25000000,82466670,The Constant Gardener,Ralph Fiennes|Rachel Weisz|Danny Huston|Bill N...,Fernando Meirelles,Love. At any cost.,Justin Quayle is a low-level British diplomat ...,129,Drama|Mystery|Thriller,Studio Babelsberg|Epsilon Motion Pictures|UK F...,8/31/2005,6.7,2005,57466670
1602,tt0366551,9000000,23936908,Harold & Kumar Go to White Castle,John Cho|Kal Penn|Paula GarcÃ©s|Neil Patrick H...,Danny Leiner,Fast Food. High Times.,"Sometimes, it takes a strange night to put eve...",88,Comedy|Adventure,New Line Cinema,5/30/2004,6.4,2004,14936908
674,tt0960144,90000000,201596308,You Don't Mess With the Zohan,Adam Sandler|John Turturro|Emmanuelle Chriqui|...,Dennis Dugan,Lather. Rinse. Save the world.,An Israeli counterterrorism soldier with a sec...,113,Comedy|Action,Columbia Pictures|Happy Madison Productions|So...,6/5/2008,5.6,2008,111596308
1480,tt0418689,90000000,65900249,Flags of Our Fathers,Ryan Phillippe|Adam Beach|Jesse Bradford|John ...,Clint Eastwood,They fight for their country but they die for ...,There were five Marines and one Navy Corpsman ...,132,War|Drama|History,DreamWorks SKG|Amblin Entertainment|Malpaso Pr...,10/19/2006,6.7,2006,-24099751

In [0]:
data.describe()

# Предобработка

In [7]:
answers = {'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
          '2': 'Gods and Generals (tt0279111)',
          '3': 'Winnie the Pooh (tt1449283)',
          '4': '110', '5': '107', '6': 'Avatar (tt0499549)',
          '7': 'The Lone Ranger (tt1210819)', '8': '1478',
          '9': 'The Dark Knight (tt0468569)', '10': 'The Lone Ranger (tt1210819)',
          '11': 'Drama', '12': 'Drama', '13': 'Peter Jackson',
          '14': 'Robert Rodriguez', '15': 'Chris Hemsworth',
          '16': 'Matt Damon', '17': 'Action',
          '18': 'K-19: The Widowmaker (tt0267626)', '19': '2015', '20': '2014',
          '21': 'Сентябрь', '22': '450', '23': 'Peter Jackson',
          '24': 'Four By Two Productions', '25': 'Midnight Picture Show',
          '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
          '27': 'Daniel Radcliffe & Rupert Grint'
          } # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = 'Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'  # +
# если ответили верно, можете добавить комментарий со значком "+"

In [0]:
# тут пишем ваш код для решения данного вопроса:
df_1 = data.budget.max()
data.loc[data.budget == df_1]

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'  # +

In [0]:
df_2 = data.runtime.max()
data.loc[data.runtime == df_2]

# 3. Какой из фильмов самый короткий (в минутах)?

In [0]:
answers['3'] = 'Winnie the Pooh (tt1449283)'  # +

In [0]:
df_3 = data.runtime.min()
data.loc[data.runtime == df_3]

# 4. Какова средняя длительность фильмов?

In [0]:
answers['4'] = '110'  # +

In [0]:
df_4 = round(data.runtime.mean())
df_4

# 5. Каково медианное значение длительности фильмов?

In [0]:
answers['5'] = '107'  # +

In [0]:
df_5 = int(data.runtime.median())
df_5

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'  # +

In [0]:
df_6 = data.profit.max()
data.loc[data.profit == df_6]

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = 'The Lone Ranger (tt1210819)'  # +

In [0]:
df_7 = data.profit.min()
data.loc[data.profit == df_7]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [0]:
answers['8'] = '1478'  # +

In [0]:
df_8 = data[data.budget < data.revenue]
df_8

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = 'The Dark Knight (tt0468569)'  # +

In [0]:
df_9 = data[data.release_year == 2008].revenue.max()
data.loc[data.revenue == df_9]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = 'The Lone Ranger (tt1210819)'  # +

In [0]:
df_10 = data[(data.release_year >= 2012) & (data.release_year <=2015)].profit.min()
data.loc[data.profit == df_10]

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['11'] = 'Drama'  # +

In [0]:
data11 = data.copy()
data11.genres = data11.genres.str.split('|')
data11 = data11.explode('genres')
data11.genres.value_counts()

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama'  # +

In [0]:
data12 = data.copy()
data12 = data12[data.profit > 0]
data12.genres = data12.genres.str.split('|')
data12 = data12.explode('genres')
data12.genres.value_counts()

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [0]:
answers['13'] = 'Peter Jackson'  # +

In [0]:
grouped_df = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
grouped_df.index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [0]:
answers['14'] = 'Robert Rodriguez'  # +

In [0]:
data['genres']= data['genres'].str.split('|', n = 1, expand = True)
action_dir = data[data['genres'] == 'Action']
action_top = action_dir.groupby(['director'])['genres'].sum().sort_values(ascending=False)
action_top.index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [0]:
answers['15'] = 'Chris Hemsworth'  # +

In [0]:
data_15 = data.query('release_year == 2012')
cast = pd.Series(data_15['cast'].str.cat(sep='|').split('|'))
cast = cast.value_counts(ascending=False)
for actor in cast.index:
    cast[actor] = data_15['revenue'][data_15['cast'].map(lambda x: True if actor in x else False)].sum()
cast.sort_values(ascending=False)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = 'Matt Damon'  # +

In [0]:
data16 = data.copy()
data16 = data16[data.budget > data.budget.mean()]
data16.cast = data16.cast.str.split('|')
data16 = data16.explode('cast')
data16.cast.value_counts()

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = 'Action'  # +

In [0]:
data['cast']= data['cast'].str.split('|', n = 1, expand = True)
action_dir = data[data['cast'] == 'Nicolas Cage']
action_top = action_dir.groupby(['genres'])['cast'].sum().sort_values(ascending=False)
action_top.index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)  # +

In [0]:
data['production_companies']= data['production_companies'].str.split('|', n = 1, expand = True)
data18 = data[data['production_companies'] == 'Paramount Pictures']
df_18 = data18.profit.min()
data.loc[data.profit == df_18]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '2015'  # +

In [0]:
year_top = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
year_top.index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '2014'  # +

In [0]:
df1 = data[data["production_companies"].str.contains("Warner Bros", na=False)]
df1.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = 'Сентябрь'  # +

In [0]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
data.groupby(['month'])['release_year'].sum().sort_values(ascending=False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = '450'  # +

In [0]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
data.month[(data.month == 6) | (data.month == 7) | (data.month == 8)].count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = 'Peter Jackson'  # +

In [0]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date'].dt.month
df1 = data[(data.month == 12) | (data.month == 1) | (data.month == 2)]
df1.groupby(['director'])['month'].sum().sort_values(ascending=False)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = 'Four By Two Productions'  # +

In [0]:
films = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts(ascending=False)
companies = films.copy()-films
data['original_title'] = data.original_title.map(lambda x: len(x.split(' ')))
for company in films.index:
    films[company] = data['original_title'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
films = pd.DataFrame(films).sort_values(0, ascending=False)
films.index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = 'Midnight Picture Show'  # +

In [0]:
films = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).value_counts(ascending=False)
companies = films.copy()-films
data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
for company in films.index:
    films[company] = data['overview_words_length'][data['production_companies'].map(lambda x: True if company in x else False)].mean()
films = pd.DataFrame(films).sort_values(0, ascending=False)
films.index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'  # +

In [0]:
data.sort_values('vote_average', ascending=False).head(10)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [0]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'  # +

In [0]:
data['cast'] = data['cast'].str.split('|').map(lambda x: sorted(x))
c = Counter()
data['cast'].apply(lambda x : c.update(combinations(x,2)))

df = pd.DataFrame.from_dict(c, orient='index').reset_index()
df.columns = ['AB', 'C']
df1 = df.groupby('AB')['C'].sum().sort_values(ascending=False)
df1.index[0]

ВАРИАНТ 2

# Submission

In [8]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers['27']

'Daniel Radcliffe & Rupert Grint'

In [9]:
# и убедиться что ни чего не пропустил)
len(answers)

27